{% extends 'ImaticViewBundle:Layout:layout.html.twig' %}

{% block document %}
    {{ block('action_before') }}
    {{ block('action') }}
    {{ block('action_after') }}
{% endblock %}

{% do imatic_view_set_title(block('title')|striptags|imatic_html_unescape) %}
{% do imatic_view_set_full_title(block('title_top')|striptags|imatic_html_unescape) %}
