{#
    variables:
    - items: table rows (array of objects or hashes)
    - columns: table columns (Imatic\Bundle\ViewBundle\Templating\Grid\ColumnOptions)
    - table: table configuration (Imatic\Bundle\ViewBundle\Templating\Grid\TableOptions)
    - uri: uri for generating pager, filter and sorter links (default current uri)
    - display_criteria or pager, filter, sorter
#}

{% import 'ImaticViewBundle:Component:button.html.twig' as button %}

{% block table %}
    {% set table   = imatic_view_table(table | default([])) %}
    {% set columns = imatic_view_table_columns(columns | default([])) %}
    {% set uri = uri|default(app.request.uri) %}
    {% set item_count = items|length %}
    {% set responsive = responsive|default(false) %}
    {% if sorter is not defined and display_criteria is defined %}
        {% set sorter = display_criteria.sorter %}
    {% endif %}

    {% spaceless %}
        <div {{ table.attr|imatic_html_attributes({class: 'imatic-view-table'}) }}>

        {{ include('ImaticViewBundle:Component:filter.html.twig') }}

        {% for action in table.actions %}
            {{ button.button(action) }}
        {% endfor %}

        {% if table.batchActions is not empty %}
            <form action="{{ uri }}" method="post">
        {% endif %}

        {% if responsive %}<div class="table-responsive">{% endif %}
        {% block table_tag %}<table class="table">{% endblock %}
            <caption></caption>
            {% block table_head %}
                <thead>
                <tr>
                    {% if table.selectable  %}
                        <th class="batch-selector-switch">
                            <input type="checkbox" onchange="jQuery('tbody td.batch-selector input', jQuery(this).parents('table')[0]).prop('checked', this.checked)">
                        </th>
                    {% endif %}
                    {% for column in columns %}
                        {% block table_column_header %}
                            <th class="{{ column.format }} {{ column.class }}">
                                {% if sorter is defined and column.sortable %}
                                <a href="{{ imatic_view_update_sorter_url(uri, column.name, sorter.reverseDirection(column.name, true), component_id|default(none)) }}"
                                   class="{{ sorter.sorted(column.name) ? 'sorted '~sorter.direction(column.name, true) : '' }}">
                                    {% endif %}
                                    {{ column.label|trim('[]')|trans({}, table.translationDomain) }}
                                    {% if sorter is defined and column.sortable %}
                                </a>
                                {% endif %}
                            </th>
                        {% endblock %}
                    {% endfor %}
                    {% if table.rowActions is not empty %}
                        <th>{{ 'Actions'|trans({}, 'ImaticViewBundle') }}</th>
                    {% endif %}
                </tr>
                </thead>
            {% endblock %}
            {% block table_body %}
                <tbody>
                {% for item in items %}
                    {% set item_index = loop.index %}
                    {% block table_row %}
                        {% block table_row_tag %}<tr>{% endblock %}
                            {# da se vygenerovat na zacatku a tady jen replacnout ID #}
                            {% block table_row_select %}
                                {% if table.selectable %}
                                    <td class="batch-selector">
                                        <input type="checkbox"
                                               name="selected[]"
                                               value="{{ attribute(item, table.selectableColumn) }}">
                                    </td>
                                {% endif %}
                            {% endblock %}
                            {% block table_row_values %}
                                {% for column in columns %}
                                    <td class="{{ column.format }} {{ column.class }}">
                                        {% block table_row_value %}{{ imatic_view_render_value(item, column.propertyPath, column.format, column.formatOptions) }}{% endblock %}
                                    </td>
                                {% endfor %}
                            {% endblock %}
                            {# da se vygenerovat na zacatku a tady jen replacnout ID #}
                            {% block table_row_actions %}
                                {% if table.rowActions is not empty %}
                                    <td class="actions">
                                        {{ button.group(table.rowActions, _context) }}
                                    </td>
                                {% endif %}
                            {% endblock %}
                        </tr>
                    {% endblock %}
                {% endfor %}
                </tbody>
            {% endblock %}
        </table>
        {% if responsive %}</div>{% endif %}

        <div class="row table-footer">
            {% set table_batch_actions -%}
                {% block table_batch_actions -%}
                    {% if table.selectable %}
                        <label><input type="checkbox" name="selectedAll"> {{ 'All elements'|trans({}, 'ImaticViewBundle') }}</label>&nbsp;
                        {% for action in table.batchActions %}
                            {% if action.nested is not empty %}
                                {% for nested_action in action.nested %}
                                    {% do nested_action.set('tag', 'input') %}
                                {% endfor %}
                            {% else %}
                                {% do action.set('tag', 'input') %}
                            {% endif %}
                        {% endfor %}
                        {{ button.group(table.batchActions, _context) }}
                    {% endif %}
                {%- endblock %}
            {%- endset %}

            {% set table_pager -%}
                {% block table_pager -%}
                    {{ include('ImaticViewBundle:Component:pager.html.twig') }}
                {%- endblock %}
            {%- endset %}

            {% set table_exports -%}
                {% block table_exports -%}
                    {% if table.exports is not empty %}
                        {% for action in table.exports %}
                            {% do action.set('data', {'ajaxify': 'false'}) %}
                        {% endfor %}
                        {{ 'Exports'|trans({}, 'ImaticViewBundle') }}: {{ button.group(table.exports, _context) }}
                    {%- endif %}
                {%- endblock %}
            {%- endset %}

            {% if table_batch_actions is not empty or table_exports is not empty %}
                <div class="col-md-4">{{ table_batch_actions }}</div>
            {% endif %}
            {% if table_pager is not empty or table_exports is not empty %}
                <div class="{% if table_batch_actions is not empty or table_exports is not empty %}col-md-4 {% endif %}text-center">{{ table_pager }}</div>
            {% endif %}
            {% if table_exports is not empty %}
                <div class="col-md-4 table-exports">{{ table_exports }}</div>
            {% endif %}
        </div>

        {% if table.batchActions is not empty %}
                <input name="query" type="hidden" value="{{ query }}">
            </form>
        {% endif %}
    {% endspaceless %}
    </div>
{% endblock %}
